<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Add an Item</title>
      <link rel = "stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <a href = '/wish' class = "home">Home</a>
    <a href = '/logout' class = 'logout' >Logout</a>
      <p><h1>Create a New Wish List Item</h1></p>
      <form action = '/create' method = 'post'>
        {% csrf_token %}
        <div>
          <label>Item/Product:</label>
          <input type = "text" name = "item">
        </div>

        <input type = "submit" value = "Add">
      </form>
  </body>
</html>
